registry=https://registry.npmmirror.com
shamefully-hoist=true
always-auth=true
//devrepo.devcloud.cn-southwest-2.huaweicloud.com/artgalaxy/api/npm/cn-southwest-2_8080000057414000000_npm_0/:_auth=Y24tc291dGh3ZXN0LTJfODA4MDAwMDA1NzQxNDAwMDAwMF8wYmEwODlmOWMyN2M0MzYxOTdlOWNlMmNmMWUzNWI5Mzo2THdfWT1lMWdS
@HealthLink:registry=https://devrepo.devcloud.cn-southwest-2.huaweicloud.com/artgalaxy/api/npm/cn-southwest-2_8080000057414000000_npm_0
@healthlink:registry=https://devrepo.devcloud.cn-southwest-2.huaweicloud.com/artgalaxy/api/npm/cn-southwest-2_8080000057414000000_npm_0
ignore-workspace-root-check=true